
body{
    font-family: 'Roboto', sans-serif;
  }
.box5{
    width: 400px;
    height:200px;
    border:1.2px solid #FF0000;
    border-radius: 10px;
    background:white;
    box-shadow: 10px 10px 8px #dbdbdb;
   text-align: center;
  }
  
  .flex2{
    display:flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    margin:auto;
    margin-top: 200px;
  }
  
  .new{
    font-size:24px;
    color: #FF0000;
    margin-top: 20px;
    margin-bottom: 20px;
    
  
  }
  .textbox{
    padding: 12px 60px;
    border-radius: 6px;
   box-shadow: 2px 2px 5px #d4d4d4; 
   border-color: #FF0000;
  }
  
  .button{
    position: relative;
    background-color: #FF0000;
    border: none;
    font-size: 23px;
    color: #FFFFFF;
    padding: 8px 20px;
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
  }
  
  .background{
    backdrop-filter: blur(5px);
  }
  
  .popup{position: fixed;
    z-index: 1100;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    margin: auto;
    background-color: rgba(255, 251, 251, 0.5);
  }
  .popup_inner {
    position: absolute;
    top: 35%;
    right: 25%;
    bottom: 35%;
    left: 25%;
    margin: auto;
    
    background: white;}


    @media only screen and (max-width: 600px){
        .box5{
            width: 330px;
            height:200px;
            border:1.2px solid #FF0000;
            border-radius: 10px;
            background:white;
            box-shadow: 10px 10px 8px #dbdbdb;
           text-align: center;
          }

          .textbox{
            padding: 12px 30px;
            border-radius: 6px;
           box-shadow: 2px 2px 5px #d4d4d4; 
           border-color: #FF0000;
          }
          .button{
            position: relative;
            background-color: #FF0000;
            border: none;
            font-size: 20px;
            color: #FFFFFF;
            padding: 6px 18px;
            margin-top: 20px;
            text-align: center;
            cursor: pointer;
            border-bottom-right-radius: 100px;
            border-bottom-left-radius: 100px;
            border-top-right-radius: 100px;
            border-top-left-radius: 100px;
          }
    }